*, *::before, *::after {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

:root {
  --black: #07070A;
  --raisin-black: #24272B;
  --outer-space: #4A525A;
  --cobalt-blue: #004BA8;
  --UCLA-blue: #3E78B2;
}

html {
  font-family: "Raleway";
}

#navbar {
  position: fixed;
  width: 100%;
  background: var(--cobalt-blue);
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 48px;
}

#navbar ul li {
  list-style-type: none;
  font-size: 1.5rem;
}

#navbar ul li a {
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 24px;
}

#navbar ul li a:hover {
  color: #000;
  background: #FFF;
}

#welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--black);
}

h1, h2{
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #FFF;
}

#welcome p {
  font-size: 2rem;
  font-style: italic;
  color: var(--UCLA-blue);
}

#projects {
  background: var(--UCLA-blue);
  padding-bottom: 96px;
}

#projects h2 {
  padding: 96px 0 48px;
  font-size: 2.5rem;
  color: #FFF;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 36px;
}

a {
  text-decoration: none;
}

.projects p {
  text-align: center;
  color: #FFF;
  font-weight: bolder;
  background: var(--outer-space);
  padding: 8px 0;
}

#contact {
  background: var(--black);
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  padding: 32px;
  border: 2px solid #FFF;
  border-radius: 10px;
}

#contact h2 {
  font-size: 2.5rem;
  color: #FFF;
  margin-bottom: 8px;
}

input {
  width: 500px;
  padding: 8px;
  margin-bottom: 8px;
  border: none;
  font-size: 1.05rem;
}

textarea {
  width: 500px;
  height: 100px;
  padding: 8px;
  margin-bottom: 8px;
  border: none;
  font-size: 1.05rem;
}

form p:nth-of-type(4) {
  display: flex;
  justify-content: center;
}

#submit {
  padding: 4px 16px;
  font-size: 1.17rem;
  font-family: "Raleway";
  border: none;
  background: #FFF;
  font-weight: bolder;
  cursor: pointer;
}

#contact a {
  margin-top: 96px;
  text-decoration: none;
  color: #FFF;
  font-size: 1.6rem;
  transition-duration: 0.5s;
}

#contact a:hover {
  font-size: 2rem;
}
